.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
  }
  
  /* .footer ul li {
    display: inline-block;
    margin-right: 32px;
  }
  
  .footer ul li:last-child {
    margin-right: 0;
  } */
  
  .footer a {
    color: #FFF;
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
      padding: 60px 40px 40px 40px;
    }
  
    .logo {
      margin-bottom: 32px;
    }

    /* .footer ul li {
      margin-bottom: 16px;
    } */
  }